<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mappere 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.RepliesMapper">
    <insert id="insertReply" parameterType="replies">
        INSERT INTO `replies`(content,replyTime,infold)
        VALUES(#{content},NOW(),#{id})
    </insert>
</mapper>