<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.SmbmsUserMapper">

    <resultMap type="com.pojo.SmbmsUser" id="SmbmsUserMap">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="usercode" column="userCode" jdbcType="VARCHAR"/>
        <result property="username" column="userName" jdbcType="VARCHAR"/>
        <result property="userpassword" column="userPassword" jdbcType="VARCHAR"/>
        <result property="gender" column="gender" jdbcType="INTEGER"/>
        <result property="birthday" column="birthday" jdbcType="TIMESTAMP"/>
        <result property="phone" column="phone" jdbcType="VARCHAR"/>
        <result property="address" column="address" jdbcType="VARCHAR"/>
        <result property="userrole" column="userRole" jdbcType="INTEGER"/>
        <result property="createdby" column="createdBy" jdbcType="INTEGER"/>
        <result property="creationdate" column="creationDate" jdbcType="TIMESTAMP"/>
        <result property="modifyby" column="modifyBy" jdbcType="INTEGER"/>
        <result property="modifydate" column="modifyDate" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="queryAll" resultMap="SmbmsUserMap">
        select * from smbms.smbms_user
    </select>

    <select id="login" resultMap="SmbmsUserMap" parameterType="SmbmsUser">
        select * from smbms.smbms_user
        where userName=#{username}
        and userPassword=#{userpassword}
    </select>
</mapper>

